:root {
    --channel-height: 60px;
    --slider-width: 50vw;
}

.divider {
    position: absolute;
    margin: 20px;
    width: var(--slider-width);
    height: 7px;
    background-color: #EEEEEE;
}

#divider1 {
    top: calc(20px + var(--channel-height));
}

#divider2 {
    top: calc(70px + 2 * var(--channel-height));
}

#divider3 {
    top: calc(120px + 3 * var(--channel-height));
}

#divider-master1 {
    top: 65vh;
}

#divider-master2 {
    top: calc(15px + 65vh);
}

#channel1 {
    position: relative;
    left: 0;
    top: 0;
    width: var(--slider-width);
}

#channel2 {
    position: relative;
    left: 0;
    top: var(--channel-height);
    margin: 2px 0 0 0;
    width: var(--slider-width);
}

#channel3 {
    position: relative;
    left: 0;
    top: calc(2 * var(--channel-height));
    margin: 2px 0 0 0;
    width: var(--slider-width);
}

#channel4 {
    position: relative;
    left: 0;
    top: calc(3 * var(--channel-height));
    margin: 2px 0 0 0;
    width: var(--slider-width);
}

#channel-master {
    position: relative;
    left: 0;
    top: calc(60vh - var(--channel-height));
    width: var(--slider-width);
}

.slider {
  position: relative;
  left: 0;
  top: 0;
  height: 20px;
  border: 5px 20px 5px 20px;
  margin: 5px 20px 5px 20px;
}

.slider-bar {
  position: absolute;
  background-color: black;
  z-index: 0;
  width: 50px;
  height: 20px;
}

.slider-handle {
  width: 40px;
  height: 20px;
  background-color: #777777;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  border: 0 none;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

/* bandpass slider */
/*
*/
.bandpass {
  position: relative;
  left: 0;
  top: 0;
  border: 5px 20px 5px 20px;
  margin: 5px 20px 5px 20px;
  width: calc(30px + var(--fader-width));
}

.bandpass-bar {
  position: absolute;
  z-index: 0;
  left: 0px;
  width: 50px;
  height: 30px;
  cursor: pointer;
}

.bandpass-bar-upper {
    position: absolute;
    background-color: black;
    left: 0px;
    width: inherit;
    height: 20px;
}

.bandpass-bar-lower {
    position: absolute;
    background-color: black;
    left: 0px;
    top: 20px;
    width: calc(100% - 16px);
    height: 10px;
    margin: 0 8px 0 8px;
}

.bandpass-handle-highpass {
  width: 12px;
  height: 30px;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  border: 0 none;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.bandpass-handle-highpass-vert {
    position: absolute;
    background-color: #777777;
    z-index: 20;
    width: 100%;
    height: 100%
}

.bandpass-handle-highpass-horiz {
    position: absolute;
    background-color: #777777;
    z-index: 20;
    width: 8px;
    left: 100%;
    height: 9px;
    top: 21px;
}

.bandpass-handle-lowpass {
  width: 12px;
  height: 30px;
  position: absolute;
  z-index: 15;
  left: 0;
  top: 0;
  border: 0 none;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.bandpass-handle-lowpass-vert {
    position: absolute;
    background-color: #777777;
    z-index: 20;
    width: 100%;
    height: 100%
}

.bandpass-handle-lowpass-horiz {
    position: absolute;
    background-color: #777777;
    z-index: 20;
    width: 8px;
    left: calc(100% - 20px);
    height: 9px;
    top: 21px;
}
